
p2-image-classification/cifar*
p2-image-classification/preprocess*
p2-image-classification/checkpoint
p2-image-classification/image_classification.data-*
p2-image-classification/image_classification.index
p2-image-classification/image_classification.meta


